
.breadcrumbs {
  margin: 24px 0;

  &__step {
    color: rgb(137, 147, 154);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin: 0 16px;
    vertical-align: middle;

    &--home {
      vertical-align: middle;
      width: 18px;
      height: 18px;
    }
  }
}
